<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>南海西餐厅</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.0.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


<link rel="stylesheet" type="text/css" href="../static_source/index.css">

</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><strong>南海西餐厅</strong></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a id="main_btn" href="#"><strong>首页</strong></a></li>
      <li><a id="location_btn"  href="#"><strong>餐厅地址</strong></a></li>
      <li><a id="menu_btn" href="#"><strong>美味菜单</strong></a></li> 
      <li><a id="about_btn" href="#"><strong>关于我们</strong></a></li> 
      <li id="phone"><a><strong><span class="glyphicon glyphicon-phone"></span>电话: xxxxxxxxx</strong></a></li> 
    </ul>
  </div>
</nav>
<div id="main">
	main page
</div>
<div id="location">
	location page
</div>
<div id="menu">
	menu page
</div>
<div id="about">
	about page
</div>
<script src="../static_source/index.js"></script>
</body>
</html>